﻿<h4 class="text-font-light">@ViewBag.Title</h4>

<div id="usermanager" class="row pt-2">
    <div class="col-md-3">
        <div class="list-group">
            <a href="#component" class="list-group-item list-group-item-action active">
                <i class="fa fa-fw fa-stop" aria-hidden="true"></i> &nbsp;Component
            </a>
            <a href="#metadata" class="list-group-item list-group-item-action">
                <i class="fa fa-fw fa-th" aria-hidden="true"></i> &nbsp;Metadata
            </a>
            <a href="#metaType" class="list-group-item list-group-item-action">
                <i class="fa fa-fw fa-keyboard" aria-hidden="true"></i> &nbsp;Meta Type
            </a>
            <a href="#metaForm" class="list-group-item list-group-item-action">
                <i class="fa fa-fw fa-pencil-ruler" aria-hidden="true"></i> &nbsp;Meta Form
            </a>
        </div>
        <hr class="list-group-divider" />
    </div>
    <div class="col-md-9 form-container">
        <div class="tab-content">
            <!-- Metadata Form -->
            <div class="jumbotron tab-pane fade" id="metaForm" role="tabpanel">
                <header class="header">
                    <h5>Meta Form</h5>
                    <button id="btnFormPageToggle" type="button" class="modal-toggle ml-2 btn btn-primary btn-sm" data-toggle="modal" data-target="#modalAddMetaForm">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add Meta Form
                    </button>
                    <hr />
                </header>
                @Html.Partial("~/Views/ComponentManager/PartialViews/_MetaForm.cshtml")
            </div>
            <!-- Metadata Type -->
            <div class="jumbotron tab-pane fade" id="metaType" role="tabpanel">
                <header class="header">
                    <h5>Meta Type</h5>
                    <button id="btnTypePageToggle" type="button" class="modal-toggle ml-2 btn btn-primary btn-sm" data-toggle="modal" data-target="#modalAddMetaType">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add Meta Type
                    </button>
                    <hr />
                </header>
                @Html.Partial("~/Views/ComponentManager/PartialViews/_MetaType.cshtml")
            </div>
            <!-- Component -->
            <div class="jumbotron tab-pane fade active show" id="component" role="tabpanel">
                <header class="header">
                    <h5>Component</h5>
                    <button id="btnComponentPageToggle" type="button" class="modal-toggle ml-2 btn btn-primary btn-sm" data-toggle="modal" data-target="#modalAddComponent">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add Component
                    </button>
                    <hr />
                </header>
                @Html.Partial("~/Views/ComponentManager/PartialViews/_Component.cshtml")
            </div>
            <!-- Metadata -->
            <div class="jumbotron tab-pane fade" id="metadata" role="tabpanel">
                <header class="header">
                    <h5>Metadata</h5>
                    <button id="btnMetadataPageToggle" type="button" class="modal-toggle ml-2 btn btn-primary btn-sm" data-toggle="modal" data-target="#modalAddMetadata">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add Metadata
                    </button>
                    <hr />
                </header>
                @Html.Partial("~/Views/ComponentManager/PartialViews/_Metadata.cshtml")
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Content/js/component-manager/component_manager.js")
}
