﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/Content/images/favicon.ico")" />

    @Styles.Render("~/bundles/css")
</head>
<body>
    <header class="header">;
        @Html.Partial("~/Views/Partials/_Header.cshtml")
    </header>
    
    <section class="section">
        <div id="main-content">
            @RenderBody()
        </div>
    </section>
    
    <section class="section">
        @Html.Partial("~/Views/Partials/_Sidebar.cshtml")
    </section>

    <footer class="footer">
        @Html.Partial("~/Views/Partials/_Footer.cshtml")
    </footer>
    
    @Scripts.Render("~/bundles/js")
    @RenderSection("Scripts", required: false)
</body>
</html>