﻿<div class="inner-forms">
    <div class="wrapper row">
        <section class="forms">
            <table id="tblHierarchyIdentifiers" style="width: 100%;" class="table table-hover" cellspacing="0">
                <thead>
                    <tr>
                        <th>Hierarchy Identifier ID</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </section>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalAddHierIdn" tabindex="-1" role="dialog" aria-labelledby="modalAddHierIdnLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAddHierIdnLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtHierIdnDesc">Description</label>
                    <textarea class="form-control form-control-sm" style="resize: none" id="txtHierIdnDesc" maxlength="100"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btnSubmitHierIdn" btn-process="add" type="button" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
            </div>
        </div>
    </div>
</div>
