﻿#enrollment {

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #1489e1;
        background-color: transparent;
        border-color: transparent transparent #f3f3f3;
        border-bottom: 4px solid !important;
        font-size: 20px;
        font-weight: bold;
    }

    .nav-tabs .nav-link {
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        color: #6c6c6c;
        font-size: 20px;
        transition: all ease-in-out .4s;
    }

    .custom-badge {
        display: inline-block;
        padding: .25em .4em;
        font-size: 110%;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25rem;
    }

    .card-footer a i  {
        transition: all ease-in-out .3s;

        &:hover{
            transform: scale(1.5);
        }

    }
}
