﻿@import '../base/colors';

.modal-content {
    border: none;
    border-radius: 0;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14),0 6px 30px 5px rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);

    .close {
        cursor: pointer;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

    .modal-header {
        border-radius: 0;
        background-color: $primary-color;
        color: #ffffff;
    }

    .bootstrap-select {
        width: 100% !important;
    }
}